<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container">

      <!-- content -->
      <div class="content">
      <table class="main" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="alert alert-bad">
            <img src="https://www.somewherexpress.com/mstile-144x144.png" alt="" height="26px" width="26px" style="display: inline-block; width: 26px; vertical-align: top"><a href="https://www.somewherexpress.com">SomewherExpress</a>
          </td>
        </tr>
        <tr>
          <td class="message" bgcolor="#FFFFFF">
            <h3>Annulation d'une inscription</h3>
            <p>Salut <%= @user.first_name %>,</p>
            <p><%= @participant.name %> a annulé son inscription à ta compétition <a href="https://www.somewherexpress.com/competitions/<%= @competition.id %>"><%= @competition.name %></a></p>
          </td>
        </tr>
        <tr>
          <td class="message" bgcolor="#FFFFFF">
            <table>
              <tr>
                <td>
                  <img src="<%= @participant.avatar %>" alt="" width="100px" height="100px" style="width: 100px; vertical-align: top">
                </td>
                <td>
                  <p>
                    Nom: <a href="https://www.somewherexpress.com/users/<%= @participant.id %>"><%= @participant.name %></a><br>
                    Email: <a href="mailto:<%= @participant.email %>"><%= @participant.email %></a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="message" bgcolor="#FFFFFF">
            <p>Comme tu n'avais pas encore traité son inscription, cela n'a pas de conséquences.</p>
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container">

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>Trop d'email? <a href="https://www.somewherexpress.com/users/edit"><unsubscribe>Modifier mes préférences</unsubscribe></a>.
              </p>
              <p>Retrouve SomewherExpress: <a href="https://www.facebook.com/somewherexpress/">facebook</a></p>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /footer -->
