<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container">

      <!-- content -->
      <div class="content">
      <table class="main" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="alert alert-bad">
            <img src="http://www.somewherexpress.com/mstile-144x144.png" alt="" height="26px" width="26px" style="display: inline-block; width: 26px; vertical-align: top"><a href="http://www.somewherexpress.com">SomewherExpress</a>
          </td>
        </tr>
        <tr>
          <td class="message" bgcolor="#FFFFFF">
            <h3><%= @competition.name %> a été mise à jour</h3>
            <p>Salut <%= @user.first_name %>, une compétition à laquelle tu es inscrit-e sur <a href="http://www.somewherexpress.com">SomewherExpress</a> a été mise à jour:</p>

            <table class="body-wrap">
              <tr>
                <td class="message">
                  <h3><%= @competition.name %></h3>
                  <p>Parcours: <%= @competition.route %></p>
                  <p>Dates: <%= date_format(@competition.start_date) %> – <%= date_format(@competition.end_date) %></p>

                  <!-- button -->
                  <table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td></td>
                      <td>
                        <a href="http://www.somewherexpress.com/competitions/<%= @competition.id %>">En savoir plus</a>
                      </td>
                      <td></td>
                    </tr>
                  </table>
                  <!-- /button -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container">

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>Trop d'email? <a href="http://www.somewherexpress.com/users/edit"><unsubscribe>Modifier mes préférences</unsubscribe></a>.
              </p>
              <p>Retrouve SomewherExpress: <a href="https://www.facebook.com/somewherexpress/">facebook</a> | <a href="https://somewherexpress.slack.com">slack</a></p>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /footer -->