<div class="card">
  <div class="card-image">
    <div class="bg-image-competition" style="background-image: url(<%= competition.end_city.picture %>);">
    </div>
  </div>
  <div id="panel-<%= competition.id %>" class="card-body">
    <div class="ribbon-wrapper"><%= ribon(competition.status) %></div>
    <div class="list-body">
      <div class="left-of-ribbon">
        <h4><%= link_to competition, competition %></h4>
        <p class="text-uppercase small"><%= competition.route %></p>
        <p class="text-uppercase text-muted small"><%= date_format(competition.start_date) %> – <%= date_format(competition.end_date) %></p>
      </div>

      <%# this div is refreshed on subscriptions create/update: %>
      <div id="competition-<%= competition.id %>-dynamic">
        <%= render "competitions/dynamic", competition: competition %>
      </div>
    </div>
  </div>
</div>
