<div class="panel panel-default">
  <div class="ribbon-wrapper"><%= ribon(status) %></div>

  <div class="panel-body">
    <h3><%= link_to competition, competition %></h3>
    <div class="text-center">
      <p class="lead"><%= competition.locations %></p>
      <p class="text-uppercase text-muted small"><%= date_format(competition.start_date) %> – <%= date_format(competition.end_date) %>
      </p>
      <p>
        <% competition.users.each do |user| %>
          <%= link_to user do %>
            <%= image_tag user.avatar, class: "avatar", data: {toggle: "tooltip", placement: "bottom"}, title: "#{user}", alt: "#{user.first_name}" %>
          <% end %>
        <% end %>
      </p>

      <% if policy(competition).apply? %>
        <% if competition.users.include?(current_user) %>
          <%= link_to t('competitions.cancel'), subscription_path(Subscription.where(user: current_user, competition: competition).take), method: :delete %>
        <% else %>
          <!-- APPLY -->
          <%= simple_form_for Subscription.new do |f| %>
            <%= f.error_notification %>
            <%= f.association :competition, as: :hidden, input_html: { value: competition.id } %>
            <%= f.button :submit, t('competitions.apply'), class: "navbar-wagon-button btn", style: "margin: 20px 0;" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>