<div class="card">
  <div class="card-image">
    <div class="bg-image-competition" style="background-image: url(<%= competition.end_city.picture %>);">
    </div>
  </div>
  <div id="panel-<%= competition.id %>" class="card-body">
    <div class="ribbon-wrapper"><%= ribon(status) %></div>
    <div class="list-body">
      <div class="left-of-ribbon">
        <h4><%= link_to competition, competition %></h4>
        <p class="text-uppercase small"><%= competition.route %></p>
        <p class="text-uppercase text-muted small"><%= date_format(competition.start_date) %> – <%= date_format(competition.end_date) %></p>
      </div>
      <p class="users-area text-center">
        <% competition.accepted_users.each do |user| %>
          <%= render 'users/avatar_medium', user: user, tooltip: true %>
        <% end %>
      </p>

      <%= render 'subscriptions/new', competition: competition %>

      <% if policy(competition).will_participate? %>
        <%= render 'competitions/rules_calendar', competition: competition %>
      <% end %>

    </div>
    <div class="text-center">
      <%= render 'competitions/registrations', competition: competition %>
    </div>
  </div>
</div>
