<div id="panel-<%= competition.id %>" class="panel panel-default text-center">
  <div class="ribbon-wrapper"><%= ribon(status) %></div>

  <div class="panel-body">
    <h3><%= link_to competition, competition %></h3>
    <div>
      <p class="lead"><%= competition.locations %></p>
      <p class="text-uppercase text-muted small"><%= date_format(competition.start_date) %> – <%= date_format(competition.end_date) %>
      </p>
      <p class="users-area">
        <% competition.accepted_users.each do |user| %>
          <%= render 'users/avatar_small', user: user %>
        <% end %>
      </p>
      <p><%= link_to t('more'), competition, class: "btn" %></p>

    </div>
  </div>
  <%= render 'subscriptions/new', competition: competition %>
  <%= registrations(competition) %>
</div>