<% (competition.ranks.where.not(result: 0).order(:dsq, :result) + competition.ranks.where(result: 0)).each do |rank| %>
  <tr>
    <td class="text-center"><%= result(rank) %></td>
    <td class="text-center">
      <%= render 'users/avatar_small', user: rank.user %>
    </td>
    <td class="text-uppercase"><%= link_to rank.user, rank.user %></td>
    <td class="text-right text-uppercase"><%= rank.points %> <%= t('ranks.params.points') %></td>
  </tr>
<% end %>