<%= simple_form_for competition do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :start_date, as: :string  %>
  <%= f.input :end_date, as: :string %>
  <%= f.input :start_location %>
  <!-- <input id="competition_start_location_locality" type="text"> -->
  <%= f.input :end_location %>

  <h4>Tracks</h4>

  <%= f.simple_fields_for :tracks do |t| %>
    <div class="tracks_form">
      <%= t.input :start_location %>
      <%= t.input :end_location %>
      <%= t.input :start_time, as: :string %>
      <% if t.object.new_record? %>
        <%= link_to 'Remove', '#', remote: true, class: 'destroy_track btn btn-danger' %>
      <% else %>
        <%= link_to 'Destroy', competition_track_path(competition, t.object), method: :delete, remote: true, class: 'destroy_track btn btn-danger' %>
        <%= t.input :id, as: :hidden %>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'Add a Track', '#', class: "btn btn-primary add_track" %>

  <%= f.button :submit, class: "btn" %>
<% end %>
