<%= simple_form_for competition do |f| %>
  <%= f.error_notification %>

  <!-- GENERAL INFORMATIONS -->
  <h4><%= t('.general.title') %></h4>
  <%= f.input :name, label: t('competitions.params.name') %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :start_location, label: t('competitions.params.start_location') %>
      <%= f.input :start_location_street_number, as: :hidden %>
      <%= f.input :start_location_route, as: :hidden %>
      <%= f.input :start_location_locality, as: :hidden %>
      <%= f.input :start_location_administrative_area_level_2, as: :hidden %>
      <%= f.input :start_location_administrative_area_level_1, as: :hidden %>
      <%= f.input :start_location_administrative_area_level_1_short, as: :hidden %>
      <%= f.input :start_location_country, as: :hidden %>
      <%= f.input :start_location_country_short, as: :hidden %>
      <%= f.input :start_location_postal_code, as: :hidden %>
    </div>
    <div class="col-xs-6">
      <%= f.input :end_location, label: t('competitions.params.end_location') %>
      <%= f.input :end_location_street_number, as: :hidden %>
      <%= f.input :end_location_route, as: :hidden %>
      <%= f.input :end_location_locality, as: :hidden %>
      <%= f.input :end_location_administrative_area_level_2, as: :hidden %>
      <%= f.input :end_location_administrative_area_level_1, as: :hidden %>
      <%= f.input :end_location_administrative_area_level_1_short, as: :hidden %>
      <%= f.input :end_location_country, as: :hidden %>
      <%= f.input :end_location_country_short, as: :hidden %>
      <%= f.input :end_location_postal_code, as: :hidden %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :start_date, as: :string, label: t('competitions.params.start_date'), input_html: { type: "date", class: "datepicker" } %>
    </div>
    <div class="col-xs-6">
      <%= f.input :end_date, as: :string, label: t('competitions.params.end_date'), input_html: { type: "date", class: "datepicker" } %>
    </div>
  </div>
  <%= f.input :description, input_html: { rows: 6 } %>
  <!-- END GENERAL INFORMATIONS -->

  <!-- TRACKS -->
  <h4 class="text-capitalize"><%= t('activerecord.models.track', count: 2) %></h4>

    <%= f.simple_fields_for :tracks, @tracks do |t| %>
      <div class="row tracks_form">
        <div class="col-xs-10 col-sm-11">
          <div class="panel panel-default">
            <div class="row panel-body">
              <div class="col-sm-8 col-xs-12">
                <div class="input-group" style="margin-bottom: -1px;">
                  <span class="input-group-addon"><%= t('tracks.params.start_location') %></span>
                  <%= t.input :start_location, label: false %>
                </div>
                <%= t.input :start_location_street_number, as: :hidden %>
                <%= t.input :start_location_route, as: :hidden %>
                <%= t.input :start_location_locality, as: :hidden %>
                <%= t.input :start_location_administrative_area_level_2, as: :hidden %>
                <%= t.input :start_location_administrative_area_level_1, as: :hidden %>
                <%= t.input :start_location_administrative_area_level_1_short, as: :hidden %>
                <%= t.input :start_location_country, as: :hidden %>
                <%= t.input :start_location_country_short, as: :hidden %>
                <%= t.input :start_location_postal_code, as: :hidden %>
              </div>
              <div class="col-sm-4 hidden-xs">
                <%= t.label t('tracks.params.start_time') %>
              </div>
              <div class="col-sm-8 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><%= t('tracks.params.end_location') %></span>
                  <%= t.input :end_location, label: false %>
                </div>
                <%= t.input :end_location_street_number, as: :hidden %>
                <%= t.input :end_location_route, as: :hidden %>
                <%= t.input :end_location_locality, as: :hidden %>
                <%= t.input :end_location_administrative_area_level_2, as: :hidden %>
                <%= t.input :end_location_administrative_area_level_1, as: :hidden %>
                <%= t.input :end_location_administrative_area_level_1_short, as: :hidden %>
                <%= t.input :end_location_country, as: :hidden %>
                <%= t.input :end_location_country_short, as: :hidden %>
                <%= t.input :end_location_postal_code, as: :hidden %>
              </div>
              <div class="col-sm-4 col-xs-12">
                <%= t.input :start_time, label: false, as: :string, input_html: { class: "datetime_picker", value: datetime_value(t.object.start_time) } %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-1 padded-mini">
          <% if t.object.new_record? %>
            <%= link_to '#', remote: true, class: 'destroy_track' do %>
              <i class="fa fa-minus-circle" data-toggle="tooltip" data-placement="bottom" title="<%= t('.tracks.remove_track') %>"></i>
            <% end %>
          <% else %>
            <%= link_to competition_track_path(competition, t.object), method: :delete, remote: true, data: { confirm: t('.delete.message') }, class: 'destroy_track' do %>
              <i class="fa fa-minus-circle" data-toggle="tooltip" data-placement="bottom" title="<%= t('.tracks.remove_track') %>"></i>
            <% end %>
            <%= t.input :id, as: :hidden %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="text-center padded-mini-bottom">
      <%= link_to '#', remote: true, class: "add_track" do %>
        <i class="fa fa-plus-circle"></i> <span><%= t('.tracks.add_track') %></span>
      <% end %>
    </div>
  <!-- TRACKS -->

  <!-- SETTINGS -->
  <div class="panel panel-default">
    <div class="panel-body">
      <h4><%= t('.rules.title') %></h4>
      <div class="row padded-mini">
        <div class="col-xs-6">
          <%= f.label t('competitions.params.start_registration') %>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <%= f.input :start_registration, as: :string, label: false, input_html: { class: "datetime_picker", value: datetime_value(f.object.start_registration) } %>
          </div>
        </div>
        <div class="col-xs-6">
          <%= f.label t('competitions.params.end_registration') %>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <%= f.input :end_registration, as: :string, label: false, input_html: { class: "datetime_picker", value: datetime_value(f.object.end_registration) } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-9">
          <strong><%= t('.rules.published.question') %></strong>
          <%= f.hint t('.rules.published.hint') %>
        </div>
        <div class="col-xs-3">
          <%= f.input_field :published, as: :boolean, boolean_style: :inline, class: "cmn-toggle cmn-toggle-round" %>
          <label for="competition_published"></label>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-9">
          <strong><%= t('.rules.finished.question') %></strong>
          <%= f.hint t('.rules.finished.hint') %>
        </div>
        <div class="col-xs-3">
          <%= f.input_field :finished, as: :boolean, boolean_style: :inline, class: "cmn-toggle cmn-toggle-round" %>
          <label for="competition_finished"></label>
        </div>
      </div>
    </div>
  </div>
  <!-- SETTINGS -->

  <%= f.button :submit, class: "btn btn-primary" %> <%= link_to t('cancel'), :back, class: "btn" %>
<% end %>
