<!-- START FINAL RANKING -->
<div id="track-<%= competition.tracks.first.id %>-result" class="panel panel-default">
  <div class="panel-heading">
    <strong>
      <%= t('competitions.show.final_ranking') %>
      <!-- EDIT RESULTS -->
      <% if policy(competition).update? %>
        <small><%= link_to t('competitions.edit_results'), edit_competition_track_path(competition, competition.tracks.first) %></small>
      <% end %>
      <!-- END EDIT RESULTS -->
    </strong>
  </div>

  <table class="table">
    <tbody>
      <% if competition.ranks.where.not(result: 0).any? %>
        <% (competition.ranks.where.not(result: 0).order(:dsq, :result) + competition.ranks.where(result: 0)).each_slice(2).to_a.each do |rank1, rank2| %>
          <tr>
            <td>
              <%= render 'users/avatar_small', user: rank1.user %>
            </td>
            <td class="text-uppercase"><%= link_to rank1.user, rank1.user %></td>
            <td class="text-center"><%= result(rank1) %></td>
            <% if rank2 %>
              <td class="text-right text-uppercase"><%= link_to rank2.user, rank2.user %></td>
              <td class="text-right">
                <%= render 'users/avatar_small', user: rank2.user %>
              </td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <%= render 'final_ranks', competition: competition %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- END FINAL RANKING -->
