<div class="marged-mini-bottom text-center">
  <div class="text-left padded-mini padded-mini-sides border-dashed block-center">
    <p>
      <%= link_to competition_event_path(competition, format: :ics) do %>
        <%= image_tag "icon-calendar.svg", width: "20px", height: "20px" %> &nbsp;&nbsp;<%= t("subscriptions.show.dl_calendar") %>
      <% end %>
    </p>
    <p>
      <%= link_to rules_path do %>
        <%= image_tag "rules.svg", width: "20px", height: "20px" %> &nbsp;&nbsp;<%= t("subscriptions.show.read_rules") %>
      <% end %>
    </p>
  </div>
</div>
