<% if competition.pending_users.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= t('subscriptions.pending_long') %></strong>
    </div>
    <ul class="list-group">
      <% competition.pending_users.each do |user| %>
        <li id="competition-<%= competition.id %>-user-<%= user.id %>" class="list-group-item flex-container">
          <%= render 'subscriptions/user_registred', competition: competition, user: user %>
          <div class="edit-form flex-item marged-micro-sides">
            <%= render 'subscriptions/edit', subscription: competition.subscriptions.find_by(user: user), competition: competition, user: user %>
          </div>
          <div class="flex-item status">
            <i class="fa fa-refresh text-warning cursor-default" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.pending_short') %>"></i>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if competition.accepted_users.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= t('subscriptions.accepted_long') %></strong>
    </div>
    <ul class="list-group">
      <% competition.accepted_users.each do |user| %>
        <li class="list-group-item flex-container">
          <%= render 'subscriptions/user_registred', competition: competition, user: user %>
          <div class="flex-item">
            <i class="fa fa-check text-success cursor-default flex-item" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.accepted_short') %>"></i>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if competition.refused_users.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= t('subscriptions.refused_long') %></strong>
    </div>
    <ul class="list-group">
      <% competition.refused_users.each do |user| %>
        <li class="list-group-item flex-container">
          <%= render 'subscriptions/user_registred', competition: competition, user: user %>
          <div class="flex-item">
            <i class="fa fa-times text-danger cursor-default flex-item" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.refused_short') %>"></i>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
