<%= content_for(:title) do %>
  <%= t('activerecord.models.competition', count: 2).capitalize %>
<% end %>

<%= content_for(:description) do %>
  Toutes les compétitions de SomewherExpress. <%= t('welcome.index.intro') %>
<% end %>


<%= content_for(:og_image) { @competitions.last&.end_city&.picture } %>

<div class="container padded-mini">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="head-icon text-center"><i class="fa fa-map-signs"></i></div>
      <h1><%= t('activerecord.models.competition', count: 2).capitalize %></h1>
      <div class="text-center padded-mini">
        <%= link_to t('.new.title'), new_competition_path, class: "navbar-wagon-button btn", style: "margin-left: 0" if policy(Competition).create? %>
      </div>

      <% @competitions.select { |c| c.status == :open }.each do |competition| %>
        <div class="marged-mini-bottom"><%= render 'card', competition: competition %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <% @competitions.select { |c| c.status == :closed }.each do |competition| %>
      <%= render 'card', competition: competition %>
    <% end %>
    <% @competitions.select { |c| c.status == :finished }.each do |competition| %>
      <%= render 'card', competition: competition %>
    <% end %>
  </div>
</div>

<div class="container padded-bottom padded-mini-top">
  <%= render 'competitions/map', markers: @markers, competitions: @competitions.select { |c| c.status == :finished } %>
</div>
