<%= content_for(:title) do %>
  <%= t('.title') %>
<% end %>

<%= content_for(:description) do %>
  Créer une compétition de SomewherExpress. <%= t('welcome.index.intro') %>
<% end %>

<div class="container padded-mini">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3><%= t('.title') %></h3>

      <%= render 'form', form: @form %>
    </div>
  </div>
</div>
