<%= content_for(:title) do %>
  <%= @competition %>
<% end %>

<%= content_for(:description) do %>
  <%= @competition.route %>, Du <%= date_format(@competition.start_date) %> au <%= date_format(@competition.end_date) %>. <%= t('welcome.index.intro') %>
<% end %>

<%= content_for(:og_image) { @competition.end_city.picture } %>

<div class="container padded-mini">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default bg-image-competition" style="background-image: url(<%= @competition.end_city.picture %>);">
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <!-- START DESCRIPTION -->
      <h1><%= @competition %></h1>

      <div class="text-center">
        <p class="lead"><%= @competition.locations %></p>
        <p class="text-uppercase text-muted small"><%= date_format(@competition.start_date) %> – <%= date_format(@competition.end_date) %>
        </p>

        <%# this div is refreshed on subscriptions create/update: %>
        <div id="competition-<%= @competition.id %>-dynamic">
          <%= render "competitions/dynamic", competition: @competition %>
        </div>
      </div>
      <!-- END DESCRIPTION -->
    </div>
  </div>
</div>

<!-- EDIT -->
<% if policy(@competition).update? %>
  <div class="bg-light-grey bordered">
    <div class="container padded-mini-top">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 with-tabs">
          <p><strong><%= t('.edit.label') %></strong></p>

          <ul class="nav nav-tabs" style="margin-bottom: -1px;" role="tablist">
            <li role="presentation" class="active"><a href="#view" aria-controls="view" role="tab" data-toggle="tab"><i class="fa fa-eye fa-fw"></i> <%= t('.tabs.view') %></a></li>
            <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab"><i class="fa fa-users fa-fw"></i> <%= t('.tabs.users') %></a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-cog fa-fw"></i> <%= t('.tabs.settings') %></a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- END EDIT -->

<div class="container padded-mini">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="tab-content">
        <!-- VIEW OF THE COMPETITION -->
        <div role="tabpanel" class="tab-pane active" id="view">
          <div class="panel panel-default">
            <div id="map" style="width: 100%; height: 400px; max-height: 90vh;"></div>

            <% if @competition.video? %>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="<%= @competition.video %>"></iframe>
              </div>
            <% end %>

            <% if @competition.description? %>
              <blockquote class="marged-medium"><%= simple_format(@competition.description) %></blockquote>
            <% end %>
          </div>
          <% if @competition.multiple_tracks? %>
            <%= render 'multi_tracks', competition: @competition %>
          <% else %>
            <%= render 'mono_track', competition: @competition %>
          <% end %>
        </div>
        <!-- END VIEW OF THE COMPETITION -->

        <% if policy(@competition).update? %>
          <div role="tabpanel" class="tab-pane" id="users">
            <%= render 'users', competition: @competition %>
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
            <%= render 'form', form: @form %>
            <%= render 'destroy_form', competition: @competition %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
