<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <!-- START DESCRIPTION -->
      <h1><%= @competition %></h1>

      <div class="text-center">
        <p class="lead"><%= @competition.locations %></p>
        <p class="text-uppercase text-muted small"><%= date_format(@competition.start_date) %> – <%= date_format(@competition.end_date) %>
        </p>

        <!-- EDIT -->
        <% if policy(@competition).update? %>
          <div class="btn-group far-right">
            <button type="button" class="btn btn-grey dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cogs"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to t('.edit.title'), edit_competition_path(@competition) %></li>
              <% if policy(@competition).destroy? %>
                <li><%= link_to t('.destroy.title'), competition_path(@competition), method: 'delete' %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <!-- END EDIT -->

        <p>
          <% @competition.users.each do |user| %>
            <%= link_to user do %>
              <%= image_tag user.avatar, class: "avatar", data: {toggle: "tooltip", placement: "bottom"}, title: "#{user}", alt: "#{user.first_name}" %>
            <% end %>
          <% end %>
        </p>

        <% if policy(@competition).apply? %>
          <% if @competition.users.include?(current_user) %>
            <%= link_to t('competitions.cancel'), subscription_path(Subscription.where(user: current_user, competition: @competition).take), method: :delete %>
          <% else %>
            <!-- APPLY -->
            <%= simple_form_for Subscription.new do |f| %>
              <%= f.error_notification %>
              <%= f.association :competition, as: :hidden, input_html: { value: @competition.id } %>
              <%= f.button :submit, t('competitions.apply'), class: "navbar-wagon-button btn", style: "margin: 20px 0;" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <!-- END DESCRIPTION -->

      <div id="map" style="width: 100%; height: 400px;"></div>

      <% if @competition.description %>
        <blockquote class="marged-medium"><%= @competition.description %></blockquote>
      <% end %>

      <% if @competition.multiple_tracks? %>
        <%= render 'multi_tracks', competition: @competition %>
      <% else %>
        <%= render 'mono_track', competition: @competition %>
      <% end %>

    </div>
  </div>
</div>