<%= content_for(:title) do %>
  <%= @competition %>
<% end %>

<%= content_for(:description) do %>
  <%= @competition.route %>, Du <%= date_format(@competition.start_date) %> au <%= date_format(@competition.end_date) %>. <%= t('welcome.index.intro') %>
<% end %>
<div class="container padded-mini">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- START DESCRIPTION -->
      <h1><%= @competition %></h1>

      <div class="text-center">
        <p class="lead"><%= @competition.locations %></p>
        <p class="text-uppercase text-muted small"><%= date_format(@competition.start_date) %> – <%= date_format(@competition.end_date) %>
        </p>

        <p class="users-area">
          <% @competition.accepted_users.each do |user| %>
            <%= render 'users/avatar_small', user: user %>
          <% end %>
        </p>

        <%= render 'subscriptions/new', competition: @competition %>
        <%= render 'competitions/registrations', competition: @competition %>
      </div>
      <!-- END DESCRIPTION -->
    </div>
  </div>
</div>

<!-- EDIT -->
<% if policy(@competition).update? %>
  <div class="bg-light-grey bordered">
    <div class="container padded-mini-top">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 with-tabs">
          <p><strong><%= t('.edit.label') %></strong></p>

          <ul class="nav nav-tabs" style="margin-bottom: -1px;" role="tablist">
            <li role="presentation" class="active"><a href="#view" aria-controls="view" role="tab" data-toggle="tab"><i class="fa fa-eye fa-fw"></i> View</a></li>
            <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab"><i class="fa fa-users fa-fw"></i> Users</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- END EDIT -->

<div class="container padded-mini">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="tab-content">
        <!-- VIEW OF THE COMPETITION -->
        <div role="tabpanel" class="tab-pane active" id="view">
          <div id="panel-<%= @competition.id %>" class="panel panel-default">
            <div id="map" style="width: 100%; height: 400px; max-height: 90vh;"></div>

            <% if @competition.video? %>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="<%= @competition.video %>"></iframe>
              </div>
            <% end %>

            <% if @competition.description? %>
              <blockquote class="marged-medium"><%= @competition.description %></blockquote>
            <% end %>
          </div>
          <% if @competition.multiple_tracks? %>
            <%= render 'multi_tracks', competition: @competition %>
          <% else %>
            <%= render 'mono_track', competition: @competition %>
          <% end %>
        </div>
        <!-- END VIEW OF THE COMPETITION -->

        <% if policy(@competition).update? %>
          <div role="tabpanel" class="tab-pane" id="users">
            users
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
            <%= render 'competitions/form', competition: @competition, tracks: @competition.tracks %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>