<%= content_for(:title) do %>
  <%= @user %> | Modifier
<% end %>

<%= content_for(:description) do %>
  Modification du profil de <%= @user %>. <%= t('welcome.index.intro') %>
<% end %>

<div class="container profile">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
      <h3><%= t('.title', name: @track) %></h3>
      <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>

        <div class="row">
          <div class="col-xs-6">
            <%= f.input :first_name, label: t('users.params.first_name'), required: true, autofocus: true %>
          </div>
          <div class="col-xs-6">
            <%= f.input :last_name, label: t('users.params.last_name'), required: true %>
          </div>
        </div>

        <%= f.input :picture, label: t('users.params.picture') %>

        <%= f.label t('users.params.girl'), required: true %>
        <div class="text-center">
          <%= f.collection_radio_buttons :girl, [[true, 'female'] ,[false, 'male']], :first, :last do |b|
            b.label(class: "marged-micro-sides") { "<i class='fa fa-#{ b.text }'></i>".html_safe + "<div>#{ b.radio_button }</div>".html_safe }
            end %>
        </div>

        <%= f.button :submit, t('save'), class: "btn btn-primary" %> <%= link_to t('cancel'), :back, class: "btn" %>
      <% end %>
    </div>
  </div>
</div>