<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <!-- START HALL OF FAME -->
      <h1>Hall of Fame</h1>

      <table class="table">
        <tbody>
          <% @users.sort_by{ |u| [-Competition.includes(:ranks).where(finished: true).where('ranks.result = ? AND ranks.user_id = ?', 1, u.id).references(:ranks).count, -u.ranks.where(race_type: "Track", result: 1).count, founder_badge(u) ? 0 : 1] }.each_with_index do |user, index| %>
            <tr>
              <td>
                <%= link_to user do %>
                  <%= image_tag user.avatar, class: "img-circle avatar-medium", alt: "#{user.first_name}" %>
                <% end %>
              </td>
              <td class="text-uppercase"><%= link_to user, user %></td>
              <td>
                <% user.subscriptions.each do |s| %>
                  <% if s.result == 1 && s.competition.finished %>
                    <%= link_to s.competition do %>
                      <span class="trophies"><i class="fa fa-trophy" data-toggle="tooltip" data-placement="bottom" title="<%= s.competition %>"></i></span>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% user.ranks.where(race_type: "Track", result: 1).each do |r| %>
                  <%= link_to competition_path(r.race.competition, anchor: "track-#{r.race.id}-result") do %>
                    <span class="medals"><i class="icomoon icon-medal" data-toggle="tooltip" data-placement="bottom" title="<%= r.race %>"></i></span>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if founder_badge(user) %>
                  <%= image_tag "badge_committee.svg", class: "award", data: {toggle: "tooltip", placement: "bottom"}, title: "#{founder_badge(user).description}" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- END HALL OF FAME -->
    </div>
  </div>
</div>
