<%= content_for(:title) do %>
  Hall of fame
<% end %>

<%= content_for(:description) do %>
  Hall of fame de SomewherExpress: tous les trophées obtenus par les membres de SomewherExpress. <%= t('welcome.index.intro') %>
<% end %>

<div class="container padded-mini">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <!-- START HALL OF FAME -->
      <div class="head-icon text-center"><i class="icomoon icon-laurel"></i></div>
      <h1>Hall of Fame</h1>
      <!-- Panel becomes useless... -->
      <div class="panel panel-default">
        <table class="table">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= render 'users/avatar_medium', user: user %>
                </td>
                <td class="text-uppercase"><%= link_to user, user %></td>
                <td>
                  <% user.competition_victories.each do |competition| %>
                    <%= link_to competition do %>
                      <span class="trophies"><i class="fa fa-trophy" data-toggle="tooltip" data-placement="bottom" title="<%= competition %>"></i></span>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% user.track_victories.each do |track| %>
                    <%= link_to competition_path(id: track.competition_id, anchor: "track-#{track.id}-result") do %>
                      <span class="medals"><i class="icomoon icon-medal" data-toggle="tooltip" data-placement="bottom" title="<%= track %>"></i></span>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% user.badges.each do |badge| %>
                    <%= image_tag badge.picture, class: "award", alt: "", data: {toggle: "tooltip", placement: "bottom"}, title: "#{ badge.description }" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- END HALL OF FAME -->
    </div>
  </div>
</div>
