<%= content_for(:title) do %>
  <%= @user %>
<% end %>

<%= content_for(:description) do %>
  Profil de <%= @user %>. <%= t('welcome.index.intro') %>
<% end %>

<div class="container padded-mini">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default radius-5">
        <div class="cover-image-mini">
        </div>
        <div class="padded-mini-bottom">
          <div class="profile-pic">
            <%= image_tag @user.avatar, class: "avatar-ultra", alt: @user.initials %>
            <% if @badge %>
              <%= image_tag @badge.picture, class: "avatar-badge", alt: "", data: {toggle: "tooltip", placement: "bottom"}, title: "#{@badge.description}", style: "margin-top: 3px;" %>
            <% end %>
          </div>

          <h1><%= @user %></h1>
          <div class="text-center">
            <% @competition_victories.each do |competition| %>
              <%= link_to competition do %>
                <span class="trophies"><i class="fa fa-trophy" data-toggle="tooltip" data-placement="bottom" title="<%= competition %>"></i></span>
              <% end %>
            <% end %>
          </div>
          <div class="text-center">
            <% @track_victories.each do |track| %>
              <%= link_to competition_path(id: track.competition_id, anchor: "track-#{track.id}-result") do %>
                <span class="medals"><i class="icomoon icon-medal" data-toggle="tooltip" data-placement="bottom" title="<%= track %>"></i></span>
              <% end %>
            <% end %>
          </div>
        </div>

        <table class="table bordered">
          <tbody>
            <% @finished_competitions.each do |competition| %>
              <tr>
                <td><%= link_to competition, competition %></td>
                <td><%= date_format(competition.start_date) %> – <%= date_format(competition.end_date) %></td>
                <td><%= place(competition.ranks.find { |r| r.user_id == @user.id }) %></td>
                <td>
                  <% if competition.ranks.find { |r| r.user_id == @user.id && r.result == 1 }.present? && competition.finished %>
                    <span class="trophies-small"><i class="fa fa-trophy"></i></span>
                  <% end %>
                </td>
                <td>
                  <% competition.tracks.each do |track| %>
                    <% if track.ranks.find { |r| r.user_id == @user.id && r.result == 1 }.present? %>
                      <%= link_to competition_path(competition, anchor: "track-#{track.id}-result") do %>
                        <span class="medals"><i class="icomoon icon-medal" data-toggle="tooltip" data-placement="bottom" title="<%= track %>"></i></span>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <!-- EDIT -->
        <% if policy(@user).update? %>
          <div class="text-center padded-mini">
            <%= link_to t('users.edit.title'), edit_user_path(@user), class: "btn btn-default" %>
          </div>
        <% end %>
        <!-- END EDIT -->
      </div>
    </div>
  </div>
</div>
