<div class="map_box">
  <strong><%= city.locality %></strong><br>

  <% city.end_of_tracks.joins(:competition).where(competitions: { finished: true }).each do |track| %>
    <%= link_to track.competition, track.competition %>
    <div>
      <span class="medals-small"><i class="icomoon icon-medal"></i></span> <%= track.ranks.where(result: 1).map{ |r| r.user.first_name if r }.join(' & ') %>
    </div>
  <% end %>

  <% if city.end_of_tracks.empty? %>
    <% city.start_of_competitions.finished.distinct.each do |competition| %>
      <%= link_to competition, competition %><br>
    <% end %>
    <% city.end_of_competitions.finished.distinct.each do |competition| %>
      <%= link_to competition, competition %><br>
    <% end %>
    <% # need start_of_tracks as well if it ever happens %>
  <% end %>
</div>
