<%= content_for(:title) do %>
  SomewherExpress
<% end %>

<%= content_for(:description) do %>
  <%= t('welcome.index.intro') %>
<% end %>

<div class="dashboard container padded-mini">
  <div class="row">
    <div class="col-sm-5 col-md-4 col-lg-3">
      <div class="panel panel-default bio-panel">
        <div class="cover-image-mini">
        </div>
        <div class="profile-pic">
          <%= link_to current_user do %>
            <%= image_tag current_user.avatar, class: "avatar-ultra", alt: current_user.first_name %>
          <% end %>
          <% if current_user.founder_badge %>
            <%= image_tag current_user.founder_badge.picture, class: "avatar-badge", alt: "", data: {toggle: "tooltip", placement: "bottom"}, title: "#{current_user.founder_badge.description}", style: "margin-top: 3px;" %>
          <% end %>
        </div>
        <div class="padded-mini text-center">
          <h4><%= link_to current_user, current_user %></h4>
          <div>
            <% current_user.subscriptions.each do |s| %>
              <% if s.result == 1 && s.competition.finished %>
                <%= link_to s.competition do %>
                  <span class="trophies"><i class="fa fa-trophy" data-toggle="tooltip" data-placement="bottom" title="<%= s.competition %>"></i></span>
                <% end %>
              <% end %>
            <% end %>
            <% current_user.ranks.where(race_type: "Track", result: 1).each do |r| %>
              <%= link_to competition_path(r.race.competition, anchor: "track-#{r.race.id}-result") do %>
                <span class="medals"><i class="icomoon icon-medal" data-toggle="tooltip" data-placement="bottom" title="<%= r.race %>"></i></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <% if policy(Competition).create? %>
        <div class="text-center padded-mini-bottom">
          <%= link_to t('competitions.new.title'), new_competition_path, class: "navbar-wagon-button btn", style: "margin-left: 0" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-9">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#open" aria-controls="open" role="tab" data-toggle="tab"><i class="fa fa-bullhorn fa-fw"></i> <%= t('welcome.index.future_title') %></a></li>
        <li role="presentation"><a href="#finished" aria-controls="finished" role="tab" data-toggle="tab" onclick="showMap();"><i class="fa fa-list fa-fw"></i> <%= t('welcome.index.passed_title') %></a></li>

        <% if current_user.creations.not_finished.any? %>
          <li role="presentation">
            <a href="#mines" aria-controls="mines" role="tab" data-toggle="tab">
              <i class="fa fa-dashboard fa-fw"></i>
              <%= t('.creations_title') %>
              <% if current_user.pending_registrations_for_creations > 0 %>
                <span class="badge badge-red registrations-alert"><%= current_user.pending_registrations_for_creations %></span>
              <% end %>
            </a>
          </li>
        <% end %>

        <% if policy(current_user).update? %>
          <div class="pull-right marged-micro visible-lg-block <%= 'visible-md-block' unless current_user.creations.not_finished.any? %>">
            <%= link_to edit_user_path(current_user), class: "btn btn-xs btn-default" do %>
              <i class="fa fa-pencil"></i> <%= t('users.edit.title') %>
            <% end %>
          </div>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="open">
          <div class="panel panel-default marged-mini">
            <div class="panel-heading">
              <strong><%= t('welcome.index.open_title') %></strong>
            </div>
            <% if policy_scope(Competition).open_for_registration.any? %>
              <ul class="list-group">
                <% policy_scope(Competition).open_for_registration.each do |competition| %>
                  <%= render 'competitions/card', competition: competition, status: "open" %>
                <% end %>
              </ul>
            <% else %>
              <div class="text-muted padded-mini-full"><em><%= t('competitions.zero') %></em></div>
            <% end %>
          </div>
          <div class="panel panel-default marged-mini">
            <div class="panel-heading">
              <strong><%= t('welcome.index.closed_title') %></strong>
            </div>
            <% if policy_scope(Competition).not_open_for_registration.any? %>
              <ul class="list-group">
                <% policy_scope(Competition).not_open_for_registration.each do |competition| %>
                  <%= render 'competitions/card', competition: competition, status: "closed" %>
                <% end %>
              </ul>
            <% else %>
              <div class="text-muted padded-mini-full"><em><%= t('competitions.zero') %></em></div>
            <% end %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane panel panel-default panel-outside" id="finished">
          <% if policy_scope(Competition).finished.any? %>
            <div id="map" style="width: 100%; height: 590px; max-height: 90vh;"></div>
            <ul class="list-group">
              <% policy_scope(Competition).finished.each do |competition| %>
                <%= render 'competition_summary', competition: competition %>
              <% end %>
            </ul>
          <% end %>
        </div>

        <% if current_user.creations.not_finished.any? %>
          <div role="tabpanel" class="tab-pane" id="mines">
            <% current_user.creations.not_finished.each do |competition| %>
              <div class="panel panel-default marged-mini">
                <div class="panel-heading">
                  <strong><i class="fa fa-map-signs"></i> <%= competition %></strong>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">
                    <h4><%= link_to competition, competition %></h4>
                    <p class="text-uppercase small"><%= competition.route %></p>
                    <p class="text-uppercase text-muted small"><%= date_format(competition.start_date) %> – <%= date_format(competition.end_date) %></p>
                  </li>
                  <% competition.pending_users.each do |user| %>
                    <li id="competition-<%= competition.id %>-user-<%= user.id %>" class="list-group-item flex-container">
                      <span class="flex-item">
                        <%= render 'users/avatar_small', user: user %>
                      </span>
                      <%= link_to user.name, user, class: "flex-item" %>
                      <span class="edit-form flex-item marged-micro-sides">
                        <%= render 'subscriptions/edit', subscription: Subscription.find_by(competition: competition, user: user), competition: competition, user: user %>
                      </span>
                      <span class="flex-item status">
                        <i class="fa fa-refresh text-warning cursor-default" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.pending_short') %>"></i>
                      </span>
                    </li>
                  <% end %>
                  <% competition.accepted_users.each do |user| %>
                    <li class="list-group-item flex-container">
                      <span class="flex-item">
                        <%= render 'users/avatar_small', user: user %>
                      </span>
                      <%= link_to user.name, user, class: "flex-item" %>
                      <i class="fa fa-check text-success cursor-default flex-item" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.accepted_short') %>"></i>
                    </li>
                  <% end %>
                  <% competition.refused_users.each do |user| %>
                    <li class="list-group-item flex-container">
                      <span class="flex-item">
                        <%= render 'users/avatar_small', user: user %>
                      </span>
                      <%= link_to user.name, user, class: "flex-item" %>
                      <i class="fa fa-times text-danger cursor-default flex-item" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.refused_short') %>"></i>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var mapized = false;
    var gmapize = function() {
      handler = Gmaps.build('Google', { markers: { clusterer: undefined  }});
      handler.buildMap({
      provider: {
        disableDefaultUI: true,
        zoomControl: true,
        scrollwheel: false
      },
        internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    }
    var showMap = function() {
      if (mapized == false) {
        gmapize();
        mapized = true;
      }
    }
  <% end %>
<% end %>
</div>