<%= content_for(:title) do %>
  SomewherExpress
<% end %>

<%= content_for(:description) do %>
  <%= t('welcome.index.intro') %>
<% end %>

<div class="dashboard container padded-mini">
  <div class="row">
    <div class="col-sm-5 col-md-4 col-lg-3">
      <div class="panel panel-default bio-panel">
        <div class="cover-image-mini">
        </div>
        <div class="profile-pic">
          <%= link_to current_user do %>
            <%= render 'users/avatar_large', user: current_user %>
          <% end %>
          <% if founder_badge(current_user) %>
            <%= image_tag "badge_committee.svg", class: "avatar-badge", alt: "", data: {toggle: "tooltip", placement: "bottom"}, title: "#{founder_badge(current_user).description}", style: "margin-top: 3px;" %>
          <% end %>
        </div>
        <div class="padded-mini text-center">
          <h4><%= link_to current_user, current_user %></h4>
          <div>
            <% current_user.subscriptions.each do |s| %>
              <% if s.result == 1 && s.competition.finished %>
                <%= link_to s.competition do %>
                  <span class="trophies"><i class="fa fa-trophy" data-toggle="tooltip" data-placement="bottom" title="<%= s.competition %>"></i></span>
                <% end %>
              <% end %>
            <% end %>
            <% current_user.ranks.where(race_type: "Track", result: 1).each do |r| %>
              <%= link_to competition_path(r.race.competition, anchor: "track-#{r.race.id}-result") do %>
                <span class="medals"><i class="icomoon icon-medal" data-toggle="tooltip" data-placement="bottom" title="<%= r.race %>"></i></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <% if policy(Competition).create? %>
        <div class="text-center padded-mini-bottom">
          <%= link_to t('competitions.new.title'), new_competition_path, class: "navbar-wagon-button btn", style: "margin-left: 0" %>
        </div>
      <% end %>

      <% if current_user.creations.not_finished.any? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= t('.creations_title') %></strong>
          </div>

          <ul class="list-group">
            <% current_user.creations.not_finished.each do |competition| %>
              <li class="list-group-item myactive">
                <div class="dropdown pull-right">
                  <div class="pointer dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs"></i> <span class="caret"></span>
                  </div>
                  <ul class="dropdown-menu navbar-wagon-dropdown-menu">
                    <% if policy(competition).update? %>
                      <li><%= link_to t('competitions.show.edit.title'), edit_competition_path(competition) %></li>
                    <% end %>
                    <% if policy(competition).destroy? %>
                      <li><%= link_to t('competitions.show.destroy.title'), competition_path(competition), method: 'delete' %></li>
                    <% end %>
                  </ul>
                </div>
                <span><%= link_to competition, competition %></span>
              </li>
              <% competition.pending_users.each do |user| %>
                <li class="list-group-item flex-container">
                  <span class="flex-item">
                    <%= render 'users/avatar_small', user: user %>
                  </span>
                  <%= link_to user.name, user, class: "flex-item" %>
                  <i class="fa fa-refresh text-warning flex-item" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.pending_short') %>"></i>
                </li>
              <% end %>
              <% competition.accepted_users.each do |user| %>
                <li class="list-group-item flex-container">
                  <span class="flex-item">
                    <%= render 'users/avatar_small', user: user %>
                  </span>
                  <%= link_to user.name, user, class: "flex-item" %>
                  <i class="fa fa-check text-success flex-item" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.accepted_short') %>"></i>
                </li>
              <% end %>
              <% competition.refused_users.each do |user| %>
                <li class="list-group-item flex-container">
                  <span class="flex-item">
                    <%= render 'users/avatar_small', user: user %>
                  </span>
                  <%= link_to user.name, user, class: "flex-item" %>
                  <i class="fa fa-times text-danger flex-item" data-toggle="tooltip" data-placement="bottom" title="<%= t('subscriptions.refused_short') %>"></i>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-9">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#open" aria-controls="open" role="tab" data-toggle="tab"><%= t('welcome.index.open_title') %></a></li>
        <li role="presentation"><a href="#closed" aria-controls="closed" role="tab" data-toggle="tab"><%= t('welcome.index.closed_title') %></a></li>
        <li role="presentation"><a href="#finished" aria-controls="finished" role="tab" data-toggle="tab" onclick="showMap();"><%= t('welcome.index.passed_title') %></a></li>
        <!-- <li role="presentation"><a href="#mines" aria-controls="mines" role="tab" data-toggle="tab">mines</a></li> -->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active panel panel-default" id="open">
          <% if policy_scope(Competition).open_for_registration.any? %>
            <ul class="list-group">
              <% policy_scope(Competition).open_for_registration.each do |competition| %>
                <%= render 'competitions/card', competition: competition, status: "open" %>
              <% end %>
            </ul>
          <% else %>
            <div class="text-muted padded-mini-full"><em><%= t('competitions.zero') %></em></div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane panel panel-default" id="closed">
          <% if policy_scope(Competition).not_open_for_registration.any? %>
            <ul class="list-group">
              <% policy_scope(Competition).not_open_for_registration.each do |competition| %>
                <%= render 'competitions/card', competition: competition, status: "closed" %>
              <% end %>
            </ul>
          <% else %>
            <div class="text-muted padded-mini-full"><em><%= t('competitions.zero') %></em></div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane panel panel-default" id="finished">
          <% if policy_scope(Competition).finished.any? %>
            <div id="map" style="width: 100%; height: 590px; max-height: 90vh;"></div>
            <ul class="list-group">
              <% policy_scope(Competition).finished.each do |competition| %>
                <%= render 'competition_summary', competition: competition %>
              <% end %>
            </ul>
          <% end %>
        </div>
        <!-- <div role="tabpanel" class="tab-pane" id="mines">...</div> -->
      </div>
    </div>
  </div>

  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var mapized = false;
    var gmapize = function() {
      handler = Gmaps.build('Google', { markers: { clusterer: undefined  }});
      handler.buildMap({
      provider: {
        disableDefaultUI: true,
        zoomControl: true,
        draggable: false,
        scrollwheel: false
      },
        internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    }
    var showMap = function() {
      if (mapized == false) {
        gmapize();
        mapized = true;
      }
    }
  <% end %>
<% end %>
</div>