<%= content_for(:title) do %>
  SomewherExpress
<% end %>

<%= content_for(:description) do %>
  <%= t('welcome.index.intro') %>
<% end %>

<%= content_for(:og_image) { "https://www.somewherexpress.com/master_og_image.jpg" } %>

<div class="welcome">
  <div class="bg-welcome">
    <%= render 'shared/home_navbar' %>
    <div class="container padded intro">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-center">
          <div class="lead">
            <%= t('.intro') %>
          </div>
          <div class="users">
            <% policy_scope(User).left_outer_joins(:badges).order("count(badges) desc").each do |user| %>
              <div class="marged-micro-bottom" style="display: inline-block;"><%= render 'users/avatar_medium', user: user %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if policy_scope(Competition).open_for_registration.any? || policy_scope(Competition).not_open_for_registration.any? %>
  <div class="bg-welcome">
    <div class="container padded-bottom padded-mini-top">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <% if policy_scope(Competition).open_for_registration.any? %>
            <h2 class="text-center"><%= t('.open_title') %></h2>
            <% policy_scope(Competition).open_for_registration.each do |competition| %>
              <%= render 'competitions/card', competition: competition, status: "open" %>
            <% end %>
          <% end %>

          <% if policy_scope(Competition).not_open_for_registration.any? %>
            <h2 class="text-center"><%= t('.closed_title') %></h2>
            <% policy_scope(Competition).not_open_for_registration.each do |competition| %>
              <%= render 'competitions/card', competition: competition, status: "closed" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="bg-welcome">
    <div class="container padded-bottom padded-mini-top">
      <h2 class="text-center"><%= t('.passed_title') %></h2>
      <%= render 'competitions/map', markers: @markers %>
    </div>
  </div>

  <div class="bg-welcome">
    <div class="container padded-bottom padded-mini-top">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h2 class="text-center">Hall of Fame</h2>
          <!-- Panel becomes useless... -->
          <div class="panel panel-default">
          <table class="table">
            <tbody>
              <% policy_scope(User).sort_by{ |u| [-u.competition_victories.count, -u.track_victories.count, -u.badges.count] }.first(5).each do |user| %>
                  <tr>
                    <td>
                      <%= render 'users/avatar_medium', user: user %>
                    </td>
                    <td class="text-uppercase"><%= link_to user, user %></td>
                    <td>
                      <% user.competition_victories.each do |competition| %>
                        <%= link_to competition do %>
                          <span class="trophies"><i class="fa fa-trophy" data-toggle="tooltip" data-placement="bottom" title="<%= competition %>"></i></span>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% user.track_victories.each do |track| %>
                        <%= link_to competition_path(track.competition, anchor: "track-#{track.id}-result") do %>
                          <span class="medals"><i class="icomoon icon-medal" data-toggle="tooltip" data-placement="bottom" title="<%= track %>"></i></span>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% user.badges.each do |badge| %>
                        <%= image_tag badge.picture, class: "award", alt: "", data: {toggle: "tooltip", placement: "bottom"}, title: "#{badge.description}" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td colspan="5" class="bg-light-grey">
                    <%= link_to users_path do %>
                    <div class="text-center"><i class="fa fa-plus marged-micro-sides"></i> <%= t('.link_hall_of_fame') %></div>
                    <% end %>
                  </td>
                </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
