<%= simple_form_for([competition, subscription], remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.input :status, as: :hidden, input_html: { value: competition.default_registration_status } %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="new_registration"><%= t('subscriptions.new.title', competition: competition.name) %></h4>
  </div>

  <div class="modal-body text-left">
    <div class="competition_details">
      <p><strong><%= t('activerecord.models.competition', count: 1).capitalize %></strong></p>
      <div class="row">
        <div class="col-xs-3 col-sm-2"><%= t('competitions.params.name') %>:</div>
        <div class="col-xs-9 col-sm-10"><%= competition %></div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-2"><%= t('competitions.route') %>:</div>
        <div class="col-xs-9 col-sm-10">
          <%= competition.route %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-2"><%= t('competitions.dates') %>:</div>
        <div class="col-xs-9 col-sm-10"><%= date_format(competition.start_date) %> – <%= date_format(competition.end_date) %>
        </div>
      </div>
    </div>
    <div class="user_details padded-mini">
      <p>
        <strong><%= t('subscriptions.new.user_infos') %></strong>
        <% if policy(current_user).update? %>
          <small><%= link_to t('edit'), edit_user_path(current_user), target: "_blank" %></small>
        <% end %>
      </p>
      <div class="media">
        <div class="media-left">
          <%= render 'users/avatar_large', user: current_user %>
        </div>
        <div class="media-body">
          <p><i class="fa fa-<%= current_user.sex %> fa-fw"></i><%= current_user.name %></p>
          <p><i class="fa fa-envelope-o fa-fw"></i><%= current_user.email %></p>
          <p class="form-inline">
            <i class="fa fa-phone fa-fw"></i><%= t('subscriptions.new.phone_number') %>: <%= f.input_field :phone_number, as: :string, class: "form-control input-sm" %>
          </p>
          <p>
            <strong><%= t('subscriptions.new.messaging_apps') %>:</strong>
            <%= f.input :whatsapp, wrapper_html: {class: "checkbox-inline" } %>
            <%= f.input :telegram, wrapper_html: {class: "checkbox-inline" } %>
            <%= f.input :signal, wrapper_html: {class: "checkbox-inline" } %>
          </p>
        </div>
      </div>
    </div>

    <div class="tos">
      <%= f.input :rules, as: :boolean, label: t('subscriptions.params.rules_label_html', href: link_to(t('subscriptions.params.rules_href_text'), rules_path, target: "_blank")) %>

      <p class="text-uppercase small">
        <% if competition.default_registration_status == "accepted" %>
          <%= t('subscriptions.new.tos', competition: competition.name) %>
        <% else %>
          <%= t('subscriptions.new.pending_tos', competition: competition.name) %>
        <% end %>
      </p>
    </div>

  </div> <!-- END MODAL-BODY -->
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('cancel') %></button>
    <%= f.button :submit, t('competitions.apply'), class: "navbar-wagon-button btn", style: "margin: 20px 0;", data: {toggle: "modal", target: "#modal"} %>
  </div>
<% end %>
