<% if policy(competition).apply? %>
  <% if competition.users.include?(current_user) %>
    <%= link_to t('competitions.cancel'), subscription_path(Subscription.find_by(user: current_user, competition: competition)), method: :delete %>
  <% elsif user_signed_in? %>
    <!-- APPLY -->
    <button class="navbar-wagon-button btn" style="margin: 20px 0;" data-toggle="modal" data-target="#modal-<%= competition.id %>"><%= t('competitions.apply') %></button>
  <% else %>
    <%= link_to t('competitions.apply'), new_subscription_path, class: "navbar-wagon-button btn" %>
  <% end %>
<% end %>

<!-- Modal -->
<% if user_signed_in? %>
  <div class="modal" id="modal-<%= competition.id %>" tabindex="-1" role="dialog" aria-labelledby="new_registration">
    <div class="modal-dialog" role="document">
      <div id="modal-content-<%= competition.id %>" class="modal-content">
        <%= render 'subscriptions/form', competition: competition, subscription: Subscription.new %>
      </div>
    </div>
  </div>
<% end %>