<% if @form.errors.any? %>
  // Render new review form with errors
  $("#modal-content-<%= @competition.id %>").html("<%= j render 'subscriptions/form', competition: @competition, subscription: @form %>");
<% else %>
  $("#modal-<%= @competition.id %>").modal('hide');

  $("#competition-<%= @competition.id %>-dynamic").html("<%= j render 'competitions/dynamic', competition: @competition %>")
  $('[data-toggle="tooltip"]').tooltip();

  $("#alerts-bar").html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= t("subscriptions.create.notice") %></div>').hide();
  $("#alerts-bar").slideDown();
<% end %>
