<%= content_for(:title) do %>
  <%= @competition %> | <%= @subscription.user %>
<% end %>

<%= content_for(:description) do %>
  Traitement de l'inscription de <%= @subscription.user %> à <%= @competition %>. <%= t('welcome.index.intro') %>
<% end %>

<div class="container padded-mini">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
        <%= render 'process', subscription: @subscription, competition: @competition, user: @subscription.user %>
      </div>
    </div>
  </div>
</div>