<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "SomewherExpress" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/notices' %>

  <%= yield %>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBIgBZYtIm36frHrldqoUmgKw1aLbTMOIQ" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= javascript_include_tag "application" %>

  <%= yield(:after_js) %>
</body>
</html>
